@import "_variables", "_styles";

.resume {
  display: flex;
  flex-direction: column;
  @media (min-width: 992px) {
    flex-direction: row;
  }

  &-image {
    max-height: 401px;
    margin: 93px 16px 0 16px;
    border-radius: 8px;
    @media (min-width: 992px) {
      margin: 133px 0 0 142px;
      max-height: 547px;
      max-width: 448px;
    }
  }

  &-title {
    color: white;
    font-size: 34px;
    margin: 24px 16px 0 16px;
    font-weight: normal;
    line-height: 40px;
    letter-spacing: 0.25px;
    @media (min-width: 992px) {
      margin: 133px 0 0 140px;
      font-size: 60px;
      line-height: 71px;
      letter-spacing: -0.5px;
    }
  }

  &-description {
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.44px;
    color: white;
    margin: 24px 16px 0 16px;
    letter-spacing: 0.44px;
    @media (min-width: 992px) {
      margin: 24px 142px 0 140px;
      max-width: 568px;
    }
  }
  &-email {
    margin: 10px 0 0 16px;
    letter-spacing: 0.44px;
    @media (min-width: 992px) {
      margin: 10px 0 0 140px;
    }
  }
}

#email {
  color: $primaryColor;
  text-decoration: none;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.44px;
}

.skills {
  display: flex;
  flex-direction: column;

  &-title {
    font-size: 24px;
    color: white;
    display: flex;
    justify-content: center;
    font-weight: normal;
    margin: 24px 0 32px 0;
    @media (min-width: 992px) {
      margin: 128px 0 60px 0;
      font-size: 34px;
      line-height: 40px;
      letter-spacing: 0.25px;
    }
  }

  &-card {
    display: flex;
    flex-direction: column;
    padding: 16px 16px 16px 16px;
    margin: 0 15px 24px 15px;
    background-color: $colorRellenos;
    border-radius: 8px;
    @media (min-width: 992px) {
      max-width: 354px;
      max-height: 298px;
      padding: 24px 24px 24px 24px;
      margin: 12px 12px 12px 12px;
    }

    &-desktop {
      @media (min-width: 992px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 116px;
      }
    }

    &-title {
      font-size: 20px;
      color: white;
      margin: 10px 0 10px 0;
      font-weight: normal;
      line-height: 24px;
      letter-spacing: 0.15px;
      @media (min-width: 992px) {
        font-size: 34px;
        line-height: 40px;
        letter-spacing: 0.25px;
      }
    }

    &-text {
      font-size: 14px;
      color: white;
      margin: 0 0 0 0;
      line-height: 20px;
      letter-spacing: 0.25px;
      @media (min-width: 992px) {
        max-height: 140px;
        max-width: 306px;
        font-size: 16px;
        line-height: 28px;
        letter-spacing: 0.44px;
      }
    }
  }
}

.footer__margin {
  @media (min-width: 992px) {
    max-width: 716px;
  }
}
