@import "_variables", "_styles";

.resume {
  display: flex;
  flex-direction: column;

  &-image {
    max-height: 401px;
    margin: 93px 16px 0 16px;
    border-radius: 8px;
  }

  &-title {
    color: white;
    font-size: 34px;
    margin: 24px 16px 0 16px;
    font-weight: normal;
    line-height: 40px;
    letter-spacing: 0.25px;
  }

  &-description {
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.44px;
    color: white;
    margin: 24px 16px 0 16px;
    letter-spacing: 0.44px;
  }
  &-email {
    margin: 10px 0 0 16px;
    letter-spacing: 0.44px;
  }
}

#email {
  color: $primaryColor;
  text-decoration: none;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.44px;
}

.skills {
  display: flex;
  flex-direction: column;

  &-title {
    font-size: 24px;
    color: white;
    display: flex;
    justify-content: center;
    font-weight: normal;
  }

  &-card {
    display: flex;
    flex-direction: column;
    padding: 16px 16px 16px 16px;
    margin: 0 15px 24px 15px;
    background-color: $colorRellenos;
    border-radius: 8px;

    &-title {
      font-size: 20px;
      color: white;
      margin: 10px 0 10px 0;
      font-weight: normal;
      line-height: 24px;
      letter-spacing: 0.15px;
    }

    &-text {
      font-size: 14px;
      color: white;
      margin: 0 0 0 0;
      line-height: 20px;
      letter-spacing: 0.25px;
    }
  }
}

footer {
  display: flex;
  flex-direction: column;
}

.sumary {
  display: flex;
  flex-direction: column;
  margin-bottom: 48px;

  &-portfolio {
    display: flex;
    justify-content: center;
    margin: 32px 0 32px 0;
  }

  &-link {
    color: white;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    justify-content: center;
    margin-bottom: 32px;
    letter-spacing: 0.25px;
  }

  &-linkedin {
    display: flex;
    justify-content: center;
  }
}

.link__modifier {
  color: $acento;
  font-size: 16px;
  margin-bottom: 24px;
  letter-spacing: 0.15px;
}

.footer-note {
  margin: 0 16px 0 16px;
  border-top: 1px solid $grayBorder;

  p {
    color: white;
    display: flex;
    justify-content: center;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.4px;
    margin: 16px 0 15px 0;
  }
}
